<div class="row">
    <div class="col-6">
        <div class="card">
            <img src="{{user.avatar || './assets/user.png'}}" alt="{{user.first_name}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="text-center d-flex justify-content-center">
                    <strong>Name: </strong>
                    <p class="ms-2">{{user.first_name}}, {{user.last_name}}</p>
                </div>

            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" routerLink="/users">Back</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 mt-5">
        <h4>Email:</h4>
        <p>{{user.email}}</p>
    </div>
</div>
